#woocommerce-product-tabs_tab_condition_section ul{
  list-style-type: none;
}
#woocommerce-product-tabs_tab_condition_section ul ul{
  margin-left: 15px;
}
/* Add/Edit Tabs Page Style */
#woocommerce-product-tabs_conditions_section.postbox .postbox-header,
#woocommerce-product-tabs_tab_inclusions_section.postbox .postbox-header {
  display: none;
}

#woocommerce-product-tabs_tab_inclusions_section .form-table {
  display: none;
}
#woocommerce-product-tabs_tab_inclusions_section .form-table.display-section {
  display: table;
}

.wta-loader, 
.wta-component-no-results {
  display: none;
}
.wta-spinner {
  text-align: center;
  margin-top: 20px;
}
.wta-spinner svg path {
  stroke: #007cba
}
.wta-term-inclusions-section {
  display: flex;
  gap: 22px;
  margin-bottom: 0!important;
  flex-direction: column;
}
.wta-term-inclusions-section > div {
  flex-grow: 1;
  max-width: 60%;
}

.wta-term-inclusions-section .wta-component-search-field-control {
  min-height: 36px;
  padding: 0px 8px;
  line-height: 2;
  border-radius: 4px;
  border: 1px solid #8c8f94;
  box-shadow: 0 0 0 transparent;
  color: #2c3338;
  font-size: 13px;
  width: 100%;
}

.wta-component-no-results {
  background: #fff;
  border-bottom: 1px solid #c3c4c7;
  border-right: 1px solid #c3c4c7;
  border-top: 1px solid #c3c4c7;
  border-left: 4px solid #007cba;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  margin: 1em 0;
  text-align: center;
  padding: 11px;
  font-size: 13px;
}

.barn2-search-list__list {
  display: none;
  padding: 0;
  margin: 20px 0;
  max-height: 17em;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #e0e0e0;
}
.barn2-search-list__list li {
  margin-bottom: 0;
}
.barn2-search-list__list .barn2-search-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding: 12px 16px;
  background: #fff;
  border-bottom: 1px solid #f0f0f0 !important;
  color: #757575;
  border-bottom: none;
  margin: 0px !important;
}
.barn2-search-list__list .barn2-search-list__item:hover {
  background-color: #f0f0f0;
}
.barn2-search-list__list .barn2-search-list__item .barn2-search-list__item-input {
  margin: 0 8px 0 0;
}
.barn2-search-list__list .barn2-search-list__item .barn2-search-list__item-label {
  display: flex;
  flex: 1;
}
.barn2-search-list__list .barn2-search-list__item .barn2-search-list__item-name {
  display: inline-block;
}
.barn2-search-list__selected {
  margin-top: 20px;
}
.barn2-search-list__selected.wpt-hide-selected-terms-section {
  display: none;
}
.barn2-search-list__selected ul {
  display: flex;
  flex-wrap: wrap;
}
.barn2-search-list__selected .barn2-search-list__selected-header {
  margin-bottom: 8px;
  display: flex;
  gap: 12px;
}
.barn2-search-list-clear__all {
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: #cc1818;
  height: auto;
  margin: 0;
  outline: none;
  padding: 0;
  text-align: left;
  text-decoration: underline;
  transition-duration: .05s;
  transition-property: border,background,color;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
.barn2-selected-list__tag {
  display: inline-flex;
  margin: 1px 4px 1px 0;
  overflow: hidden;
  align-items: center;
}
.barn2-selected-list__tag .barn2-tag__text {
  padding: 0 4px 0 8px;
  border-radius: 12px 0 0 12px;
}
.barn2-selected-list__tag .barn2-tag__remove {
  cursor: pointer;
  height: inherit;
  padding: 0 2px;
  border-radius: 0 12px 12px 0;
  color: #757575;
  line-height: 10px;
  text-indent: 0;
  height: 24px;
  display: inline-block;
  background: none;
  transition: all 0.2s cubic-bezier(0.4, 1, 0.4, 1);
  font-size: 13px;
  font-weight: 400;
  border: 0;
}
.barn2-selected-list__tag .barn2-tag__remove svg {
  fill: #757575;
  transition: all .2s ease-in;
}
.barn2-selected-list__tag .barn2-tag__remove:hover svg {
  fill: #000;
}
.form-table.hide-section {
  display: none;
}
.wta-component-search-field {
  &.disabled {
    input {
      background-color: #f1f1f1;
    }
  }
}

/* edit product page */
#product_tabs {
  padding: 20px;
  .add-new-tab {
    margin-top: 10px;
  }
  .remove-tabs {
    margin-bottom: 15px;
    float: right;
  }
  .remove_product_tab {
    color: #b32d2e;
  }
  .tab_title_field, .tabs_content_field {
    width: 100%;
    border-color: #ceced0;
  }
  .icon-wrap {
    float: left;
  }
  .tab-content-wrap {
    .wpt_accordion {
      border: 1px solid #eee;
      cursor: pointer;
      padding: 12px;
      font-size: 14px;
      transition: 0.4s;
      margin: 0;
      color: #1d2327;
    }
    .wp-editor-wrap {
      padding: 0 15px 15px;
      background-color: white;
      overflow: hidden;
      border: 1px solid #eee;
      border-bottom: none;
      border-top: none;
      flex: 1 1 100%;
    }
    .tab-container.hidden > * {
      display: hidden;
    }
    .tab-container {
      display: flex;
      border: 1px solid #eee;
      border-top: none;
      flex-wrap: wrap;
      .override-tab-content-label {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
        padding: 15px 15px!important;
        margin: 0;
        label {
          margin: 0 0 0 5px;
          min-width: fit-content;
        }
      }
      &.hidden {
        display: none;
      }
      .icon-container {
        padding: 15px;
        p {
          margin: 0;
          padding: 0;
        }
        .icon-output {
          margin: 0;
        }
      }
      .edit-tab-product {
        width: 100%;
        box-sizing: border-box;
        .icon-output {
          margin: 15px 0 0!important;
          a {
            color: red;
            text-decoration: none;
          }
        }
        &.edit-tab-footer {
          display: flex;
          flex: 1;
          justify-content: flex-end;

          .edit-global-tab {
            padding: 15px;
            min-width: fit-content;
            text-decoration: none;
          }
        }
      }
      .wp-core-ui.wp-editor-wrap {
        padding-bottom: 0;
      }
    }
  }
  .wp-editor-area {
    border: 1px solid #ceced0;
  }
  p.form-field {
    padding: 5px 0 0 !important;
  }
  .tab_icon {
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #2271b1;
    border-radius: 3px;
  }
  .new-tab-container {
    display: flex;
    width: 100%;
    position: relative;
    top: -3px;
  }
  .icon-output {
    margin-top: 10px;
  }
}

/* Product Tabs Page Admin Header */
.woocommerce-product-tabs-layout__header {
  background: #fff;
  box-sizing: border-box;
  padding: 0px 20px;
  width: calc(100% + 20px);
  margin-left: -20px;
}
.woocommerce-product-tabs-layout__header .woocommerce-product-tabs-layout__header-wrapper {
  align-items: center;
  display: flex;
  min-height: 60px;
  padding-right: 20px;
}
.woocommerce-product-tabs-layout__header .woocommerce-product-tabs-layout__header-heading {
  align-items: center;
  background: #fff;
  display: flex!important;
  flex: 1 auto;
  font-size: 14px;
  font-weight: 600;
  height: 60px;
  margin: 0;
  padding: 0;
}
.woocommerce-product-tabs-nav-tab-wrapper {
  border-bottom: 1px solid #c3c4c7;
  margin-right: 20px;
}
.woocommerce-product-tabs-nav-tab-wrapper .nav-tab{
    float: initial;
    padding: 8px 10px;
    line-height: 2.3;
}

/*Menu Page*/
.tab-wrapper .tabs-nav {
  display: flex;
  border-bottom: 1px solid #c3c4c7;
}

.tab-wrapper .tabs-nav li {
  margin-right: 10px;
  margin-bottom: 0;
  background: #dcdcde;
  border: 1px solid #c3c4c7;
  border-bottom: none;
}

.tab-wrapper .tabs-nav li.tab-active a {
  background-color: #f0f0f1;
  color: #000;
  margin-bottom: -1px;
  border-bottom: 1px solid #f0f0f1;
}

.tab-wrapper .tabs-nav li a {
  text-decoration: none;
  padding: 5px 10px;
  color: #444;
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: 500;
}

.tab-wrapper .tabs-nav li:hover,
.tab-wrapper .tabs-nav li a:hover {
  background-color: #fff;
}

.tab-wrapper .tabs-nav li:hover a {
  color: #3c434a;
}

.tab-wrapper .tabs-nav li.tab-active:hover,
.tab-wrapper .tabs-nav li.tab-active a:hover {
  background-color: transparent;
}

#poststuff .inside h2 {
  font-size: 1.3em;
  padding-left: 0;
}

.postbox table.form-table {
  margin-bottom: 20px;
}

.wpt-options .icon-remove,
.wpt-font-wrap .icon-remove {
  font-size: small;
}
.wpt-options {

  #poststuff {
    padding: 0;
    #post-body-content {
      display: flex;
      width: 100%;
      gap: 40px;
      justify-content: space-between;
      @media screen and (max-width: 1200px) {
        flex-wrap: wrap;
      }
      .tabs-stage {
        flex: 3 1 70%;
      }
    }
  }
  
}

.normal-list {
  list-style: disc;
  padding-left: 1rem;
}
.upgrade-to-pro {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.pro-version-link {
  margin-top: 10px;
  font-weight: 500;
  display: block;;
}
#screen-meta-links {
  display: none;
}