.is-hidden {
  display: none;
}
.is-error, .is-success {
  margin: 1rem 0;
}
.mce-statusbar {
  display: none!important;
}
label, .barn2-form-label {
  text-transform: none!important;
  font-size: 13px!important;
  text-transform: none!important;
  font-weight: 600!important;
  font-size: 13px!important;
  display: block!important;
  margin-bottom: 8px!important;
}