.tab-wrapper .tabs-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #c3c4c7;
}

.tab-wrapper .tabs-nav li {
  margin-right: 10px;
  margin-bottom: 0;
  background: #dcdcde;
  border: 1px solid #c3c4c7;
  border-bottom: none;
}

.tab-wrapper .tabs-nav li.tab-active a {
  background-color: #f0f0f1;
  color: #000;
  margin-bottom: -1px;
  border-bottom: 1px solid #f0f0f1;
}

.tab-wrapper .tabs-nav li a {
  text-decoration: none;
  padding: 5px 10px;
  color: #444;
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: 500;
}

.tab-wrapper .tabs-nav li:hover,
.tab-wrapper .tabs-nav li a:hover {
  background-color: #fff;
}

.tab-wrapper .tabs-nav li:hover a {
  color: #3c434a;
}

.tab-wrapper .tabs-nav li.tab-active:hover, .tab-wrapper .tabs-nav li.tab-active a:hover {
  background-color: transparent;
}

#poststuff h2 {
  font-size: 18px;
  padding-left: 0;
  border-bottom: 1px #DDD solid;
  margin-bottom: 10px;
}

.postbox-container {
  margin-top: 70px;
}

.inside-content img {
	width: 100%;
	height: auto;
}

.inside-content ul {
	list-style-type: disc;
	list-style-position: inside;
}
